--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
boto3
python-dotenv
python-multipart
requests
httpx
pinecone
sentence-transformers
torch
langchain-text-splitters
pydantic
sarvamai
playwright==1.40.0

